log:
  level: debug
health:
  enabled: true
health:
  enabled: true
client:
  token:
    hmac_secret_key: sgXZg55odUZ0PAkeYxP4Ol3SFeKDjTvlLXcSDwjijU4PcHiPYtqJm5ZEPlqSP5sVCrfoH4GMP0EcvFgNWsE6fw
  allowed_origins:
    - "*"
admin:
  enabled: true
  password: 8tiuGeVFZmYkiBzHzGrqdA
  secret: I4T7BWguo_9hG3NwcmUythMwC8oH27eas-d_hT2VXb1cgIWmEWJGLgg-6bB0qP1MH9IIjt93aXRdc-K05xskYQ
http_api:
  insecure: true
  key: ViOrrgfF7SoqUjkHHZy8hFVdlgSRQh3nM2f-7QGGBtxEIWrohMyGEcJ5hSVu2SxDo5j-RXPYoA0PIenERlQGDg
channel:
  without_namespace:
    allow_subscribe_for_client: true
# engine:
#   type: redis
#   redis: {}
publishers:
  - enabled: true
    kafka:
      brokers:
        - localhost:19092
        - localhost:29092
        - localhost:39092
      topics:
        - score
      client_id: centrifugo
consumers:
  - enabled: true
    name: my_kafka_consumer
    type: kafka
    kafka:
      brokers:
        - localhost:19092
        - localhost:29092
        - localhost:39092
      topics:
        - leaderboard
      consumer_group: centrifugo
      fetch_read_uncommitted: true
      max_poll_records: 10 # (default 100)
      fetch_max_bytes: 2097152 # 2Mb (default 50Mb)
      fetch_max_wait: 100ms
      publication_data_mode:
        enabled: true
        channels_header: "x-centrifugo-channels"
        idempotency_key_header: "x-centrifugo-idempotentcy-key"
